.signin {
	width: 500px;
	height: 600px;
	background: #194a8d;
	margin: 20px auto;
	border-radius: 20px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
}
.msg-err{
	display: inline-block;
	max-height: 40px;
	height: 30px;
	color: #df1c44;
	font-size: .5em;
	font-weight:500;
	letter-spacing:1px;
	transition: .2s;
	/*padding-top: 5px;*/
}
.signin input {
	width: 80%;
}
