*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --bg-gradient:radial-gradient(circle,#000214,#000511);
  --primaryColor: #ff8800;
  --scondaryColor: #00a2ff;
  --lightColor:#dfdfdf;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-gradient);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
