header {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
}
header ul{
  display: flex;
}
header ul li{
  list-style-type: none;
  margin-left: 20px;
}
a{
  text-decoration: none;
  color: var(--lightColor);
  font-weight: 500;
}
.head-title{
  color: var(--primaryColor);
  font-size: 1.5em;
}
a span{
  color: var(--scondaryColor);
}
header ul li .a{
  padding: 3px 5px;
  max-height:40px;
  height:40px;
  background-color: var(--primaryColor);
  border-radius: 5px;
  display: inline-block;
  transition: .2s;
}
header ul li:nth-child(2) .a{
  background-color: var(--scondaryColor);
}
header ul li .a:hover{
  letter-spacing: 1px;
  transform: scale(1.1);
}